.app-text-center {
    text-align: center;
}

.app-pointer-cursor {
    cursor: pointer;
}

#guitar-preview {
    width: 100%;
    height: 200px;
    background-color: gray;
    position: relative;
}

img {
    position: absolute;
}

.app-circle {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 40px;
}

#rosewood {
    background-image: url("./assets/rosewood.jpg");
}

#maple {
    background-image: url("./assets/maple.jpg");
}

