* {
    box-sizing: border-box;
  }

.app-text-center {
    text-align: center;
}

.app-pointer-cursor {
    cursor: pointer;
}

#guitar-preview {
    background-image:url('./assets/guitar-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;

    width: 100%;
    height: 100px;
}

@media (min-width: 200px) { #guitar-preview { height: 100px; } }
@media (min-width: 300px) { #guitar-preview { height: 150px; } }
@media (min-width: 400px) { #guitar-preview { height: 200px; } }

.app-guitar-part {
    position: absolute;
    top: 0;
    left: 0;
}

.app-circle {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 40px;
}

#rosewood {
    background-image: url("./assets/rosewood.jpg");
}

#maple {
    background-image: url("./assets/maple.jpg");
}

.app-configurator-option {
    color: blue;
    font-size: small;
}

#general-options { border-right: 2px solid gray; }
#body-options { border-right: 2px solid gray; }
#neck-options { border-right: 2px solid gray; }

@media (max-width: 576px) {
    #general-options { border-bottom: 2px solid gray; }
    #body-options { border-bottom: 2px solid gray; border-right: none}
}